h1 {
   color: blue;
}

h4 {
   font-size: 20px;
}
img {
   width:400px;
}
#thirdDiv {
   height: 600px;
   width: 500px;
   background-color: orangered;
   padding: 50px;
   border: dashed 3px black;
   display: flex;
   justify-content: center;
   align-items: center;
}


#thirdDiv > ul > li{
   list-style: none;
}

#thirdDiv > ul > li:first-child{
   margin-bottom: 30px;
}

#thirdDiv > ul > li > img {
   border-radius: 20px 50px 20px;
}

#spanId{
   font-size: 18px;
   margin: 50px;
}

body {
   background-image: url('https://cronicaglobal.elespanol.com/uploads/s1/70/92/98/1/tree-3369950-1280.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   color: white;
}

.divClass {
   background-color: rgba(255,255,255,0.5);
   padding: 20px;
   border: solid 5px black;
   border-radius: 10px;
   color: black;
   font-weight: bold;
   
}

div:not(last-of-type){
   margin-bottom: 10px;
}
